<html>
    <head>
        {% block css %}{% endblock css %}
    </head>
    <body>
        <h1>GREETINGS!!!</h1>
        {% block content %}{% endblock content %}
        <hr>
        {% block sub_content %}
            <h2>No sub content</h2>
        {% endblock sub_content %}

        {% block js %}{% endblock js %}
    </body>
</html>