{% extends "base.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>

    </form>
{% endblock content %}
