{% extends "base.html" %}

{% block content %}
    <table width="100%" align="center" border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
        {% for product in products %}
        <tr align="center">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>
                {% for tag in product.tags.all %}
                    {{tag.name}},
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}


{% block sub_content %}
    <h1>THIS IS SUB CONTENT</h1>
{% endblock sub_content %}