<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product/add">Add Product</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Cat 1</a>
                      <a class="dropdown-item" href="#">Cat 2</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Add category</a>
                    </div>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
        </div>
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label for="{{ form.name.id }}">{{ form.name.label }}</label>
                    {% if form.name.errors %}
                        {{ form.name(class_='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {{ form.name.errors[0] }}
                        </div>
                    {% else %}
                        {{ form.name(class_='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.price.id }}">{{ form.price.label }}</label>
                    {% if form.price.errors %}
                        {{ form.price(class_='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {{ form.price.errors[0] }}
                        </div>
                    {% else %}
                        {{ form.price(class_='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.quantity.id }}">{{ form.quantity.label }}</label>
                    {% if form.quantity.errors %}
                        {{ form.quantity(class_='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {{ form.quantity.errors[0] }}
                        </div>
                    {% else %}
                        {{ form.quantity(class_='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id }}">{{ form.description.label }}</label>
                    {% if form.description.errors %}
                        {{ form.description(class_='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {{ form.description.errors[0] }}
                        </div>
                    {% else %}
                        {{ form.description(class_='form-control') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id }}">{{ form.category.label }}</label>
                    {% if form.category.errors %}
                        {{ form.category(class_='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {{ form.category.errors[0] }}
                        </div>
                    {% else %}
                        {{ form.category(class_='form-control') }}
                    {% endif %}
                </div>
              <button type="submit" class="btn btn-primary" style="width: 100%">Add</button>
            </form>
        </div>
    </body>
</html>